body {
  width: 250px;
  padding: 20px;
}

a {
  padding: 10px;
  border: 1px solid #ecefef;
  text-decoration: none;
  border-radius: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.page-data-container {
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
}

#reset-clicks {
  background-color: #787978;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#reset-clicks:hover {
  background-color: #606160;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#calibrate-btn {
  margin-right: 10px;
  background-color: #0bc029;
  color: white;
}

#calibrate-btn:hover {
  background-color: #0bb127;
}

#clear-btn {
  background-color: #787978;
  color: white;
}

#clear-btn:hover {
  background-color: #606160;
}

.overlay-enabled {
  background-color: #0bc029;
  color: white;
}

.overlay-enabled:hover {
  background-color: #0bb127;
}

.overlay-disabled {
  background-color: #787978;
  color: white;
}

.overlay-disabled:hover {
  background-color: #606160;
}
