#gazer-circle {
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  position: fixed;
  top: -10%;
  left: -10%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: 1010;
}

.click-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  top: -10%;
  left: -10%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: 1010;
}

.outer-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  z-index: 1500 !important;
}

.circle-btn {
  position: absolute;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1501 !important;
}

.overlay {
  position: fixed;
  width: 180px;
  height: 550px;
  right: -300px;
  top: 400px;
  transform: translate(0, -50%);
  background-color: rgb(66, 66, 66);
  border-radius: 25px 0 0 25px;
  z-index: 1000;
  transition: all 0.5s ease;
  padding: 20px 0;
}

.overlay-shown {
  right: 0;
}

.click-icon {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
}

.click-icon svg {
  width: 160px;
  height: 160px;
  color: white;
  pointer-events: none;
}

.scroller-container {
  position: fixed;
  top: 0;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.scroller-icon {
  width: 60px;
}
